@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
body {
  background: #171922ea;
}
.nav__container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  // flex-direction:row-reverse;
  font-size: 2rem;
  color: #fff;
  background-color: #222;
  
}
.logo{
  font-size: 1.7rem;
}
.logo a{
  color: #bfbecc;
  text-decoration: none;
}
.list{
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.element-list{
  // border-bottom:solid 3px rgb(0, 0, 0);
  // border-top: solid 3px rgb(116, 114, 114);
  cursor: pointer;
  // color: #322626;
  color: rgb(101, 99, 96);
  padding: 5px;
  border-radius: 5px;
   margin: 30px;
   transition: 0.2s;
}
.element-list:hover{
  transition: 1s;
  transform: scale(1.1);
  color: rgb(251, 246, 246);
  // border-bottom: solid 3px #28292a;
  // border-top:solid 3px #242527;
//   box-shadow: 14px -5px 44px 33px rgba(212,144,42,1);
// -webkit-box-shadow: 14px -5px 44px 33px rgba(212,144,42,1);
// -moz-box-shadow: 14px -5px 44px 33px rgba(212,144,42,1);
}
.padrisimo{
  display: flex;
  justify-content: space-around;

}
.titulo{
  font-size: 2rem;
  color: white;

}
.llamada {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 150px;
}
.parrafito{
  text-align: center;
  font-size: 1.2rem;
  color: #fff;

}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #4c6ef5;
  width: 350px;
  height: 70px;
  border-radius: 5px;
  font-size: 1.258rem;
  margin: 20px;
  cursor: pointer;
  transition: .5s;
}
.btn:hover{
  transition: .5s;
  background-color: #3158f3;
  font-size: 1.558rem;
}
.trabajar-nosotros{
  text-decoration: underline;
  text-align: center;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.258rem;
  color: #fff;
  margin: 20px;
  transition: all .5s;
}
.trabajar-nosotros:hover{
  font-size: 1.558rem;
  text-decoration-color: #3158f3;
  transition: 1s;
}
.botones{
  display: flex;
  flex-direction: column;
}
.imagen-camion{
margin: 150px;

}

.linea{
margin-top: -100px;
height: 970px;
color: #fff;
stroke: none; fill: rgb(196, 210, 218);
// stroke: none; fill: rgba(55, 39, 78, 0.791);
// stroke: none; fill: #f3a450c3;
// stroke: none; fill:  rgb(255, 131, 0);
}
.footer__social{
  list-style: none;
  display: flex;
  justify-content: center;
  transition: all .5s ease-in-out;
}
.ima{
  margin: 30px;
}
.ima:hover{
  transition: .5s;
transform: scale(1.3);
} 
@media screen and (min-width:0) and (max-width:768px) {
  .nav__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    width: 100%;
    margin: 0;
  }
  .logo{
  }
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
  }
  .element-list{
    cursor: pointer;
    color: rgb(101, 99, 96);
    font-size: 1rem;
    margin: 0;
  }
  .element-list:hover{
    transition: 1s;
    transform: scale(1.1);
    color: rgb(251, 246, 246);
  }
  .padrisimo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
  .titulo{
    font-size: 2rem;
    color: white;
    margin: 20px;
  }
  .llamada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .parrafito{
    text-align: center;
    font-size: 1rem;
    color: #fff;
    margin: 20px;
    width: 80%;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #4c6ef5;
    width: 350px;
    height: 70px;
    border-radius: 5px;
    font-size: 1.258rem;
    margin: 20px;
    cursor: pointer;
    transition: .5s;
  }
  .btn:hover{
    transition: .5s;
    background-color: #3158f3;
    font-size: 1.558rem;
  }
  .trabajar-nosotros{
    text-decoration: underline;
    text-align: center;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.258rem;
    color: #fff;

    transition: all .5s;
  }
  .trabajar-nosotros:hover{
    font-size: 1.558rem;
    text-decoration-color: #3158f3;
    transition: 1s;
  }
  .botones{
    display: flex;
    flex-direction: column;
  }
  .imagen-camion{
    margin: 10px;
  }
  .imagen-camion img{
    margin: 0;
    width: 280px;  
  }

  .footer__social{
    list-style: none;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-in-out;
  }
  .ima{
    margin: 30px;
  }
  .ima:hover{
    transition: .5s;
  transform: scale(1.3);
  }

}
@media screen and (min-width:768px) and (max-width:1290px){
  .nav__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    width: 100%;
    margin: 0;
  }
  .logo{
  }
  .list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .element-list{
    cursor: pointer;
    color: rgb(101, 99, 96);
    font-size: 1rem;
    margin: 20px;
  }
  .element-list:hover{
    transition: 1s;
    transform: scale(1.1);
    color: rgb(251, 246, 246);
  }
  .padrisimo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
  .titulo{
    font-size: 2rem;
    color: white;
    margin: 20px;
  }
  .llamada {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }
  .parrafito{
    text-align: start;
    font-size: 1rem;
    color: #fff;
    margin: 20px;
    width: 80%;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #4c6ef5;
    width: 350px;
    height: 70px;
    border-radius: 5px;
    font-size: 1.258rem;
    margin: 20px;
    cursor: pointer;
    transition: .5s;
  }
  .btn:hover{
    transition: .5s;
    background-color: #3158f3;
    font-size: 1.558rem;
  }
  .trabajar-nosotros{
    text-decoration: underline;
    text-align: center;
    width: 350px;
    height: 50px;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.258rem;
    color: #fff;

    transition: all .5s;
  }
  .trabajar-nosotros:hover{
    font-size: 1.558rem;
    text-decoration-color: #3158f3;
    transition: 1s;
  }
  .botones{
    display: flex;
    flex-direction: column;
  }
  .imagen-camion{
    margin: 10px;
  }
  .imagen-camion img{
    margin: 0;
    width: 680px;  
  }

  .footer__social{
    list-style: none;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-in-out;
  }
  .ima{
    margin: 30px;
  }
  .ima:hover{
    transition: .5s;
  transform: scale(1.3);
  }

}
