.header-registro{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 1rem;
}

.registro-header__logo {
  width: 2.625rem;
  margin-bottom: 0.5rem;
}

.registro-header__title {
  font-family:cursive;
  font-size: var(--font-size-logo);
  margin-bottom: 1rem;
}

@media (min-width: 800px) {
  .registro-header__logo {
    width: 5.75rem;
    margin-bottom: 1rem;
  }

  .registro-header__title {
    margin-bottom: 2rem;
  }
}
